<nobr>
  <input type="text" id="autocomplete_username" name="key" class="lore inline" />
</nobr>
<div id="autocomplete_username_choices" class="autocomplete" style="background-color: #efefef; width: 263px; border: 1px solid #454545; padding-right: 2px;  "></div>
