<div>
	<%= tl(message.to_sym) if message %>
</div>
<div style="margin-top: 17px; text-align: center; ">
  <%= gui.button(:class => :ok, :onclick => "Aurita.confirm_action();") { tl(:ok) } %>
  <%= gui.button(:class => :cancel, :onclick => "Aurita.cancel_action();") { tl(:cancel) } %>
</div>
