<div>
<% displayed = Array.new
   tags.each do |entry| 
   if !displayed.include? entry.tag then
   displayed << entry.tag
%>

<font class="link" onclick="Aurita.load({ action: 'App_Main/find_by_tag/tag=<%= entry.tag.to_s.gsub('"','') %>'});" >
  <%= entry.tag %> (<%= entry.relevance %>)
</font>

<% end 
   end
%>

</div>
