
<div style="height: 200px; overflow-y: auto;">
  <% users.each do |user| %>
    <div class="user_icon">
    <%= gui.link_to(user) { 
       "<div class=\"image\">" << 
       "  <img src=\"/aurita/assets/small/asset_#{user.picture_asset_id}.jpg\" />" << 
       "</div>" << 
       "<div style=\"text-align: center;\">#{user.user_group_name}</div>"
    }
    %>
    </div>
  <% end %>
  <div style="clear: both; "></div>
</div>
