

<div class="section_header">
  <div class="section_header_left">
    <h1><%= user_profile.forename %> <%= user_profile.surname %></h1>
  </div>
</div>

<div style="clear: both;"></div>

<div class="section_content">

  <% components.each do |component| 
      component.attrib[:class] = 'topic user_profile_box'
  %>
    <%= component.string %>
  <% end %>

  <div style="clear: both;"></div>
</div>

